<h1>Pipes</h1>
<br>
<p>input text {{userName}}</p>
<br>
<br>
<p>upper case pipe </p>
<h3> {{userName | uppercase}} </h3>
<br>
<br>
<p>lower case pipe </p>
<h3> {{userName | lowercase}} </h3>
<br>
<br>
<p>upper case pipe </p>
<h3> {{userName | uppercase}} </h3>

<br>
<br>
<p>currency pipe</p>
<h3>{{currency | currency: 'USD': 'symbol':'1.2-3' }}</h3>
<br>
<br>

<p>date pipe</p>
<h3>{{currentDate | date : 'HH:mm:ss'}}</h3>
<br>
<br>

<p>percent  pipe</p>
<h3>{{percentInput | percent:'4.3-5'}}</h3>
