<div class="container pt-5">
    
<form class="col-md-4" [formGroup]="contactInfo" >
    <h1>{{pageTitle}}</h1>
    <hr>
    <div class="form-group">
        <label for="exampleInputEmail1">Full Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name" formControlName="fullname" >
        <small id="emailHelp" class="form-text text-muted">Please Enter Your Fullname.</small>
        <small id="emailHelp" class="form-text text-danger"  *ngIf="f['fullname'].errors?.['required']"  >Full name is required.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Mobile Number<span style="color: red;" >*</span></label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your mobile number" formControlName="mobileNumber">
        <small id="emailHelp" class="form-text text-muted">Please Enter Your mobile number.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Address</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="please enter your address" formControlName="address">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="agreeCheckbox">
      <label class="form-check-label" for="exampleCheck1">Agree to receive text updates</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="contactData(contactInfo.value)" [disabled]="!contactInfo.valid" >Submit</button>
  </form>
  
</div>